# mdBook build output
# (mdbook builds to ./book by default; change if you customize build.build-dir in book.toml)
book/

# Ignore all common image files
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.bmp
*.tiff
*.ico
